dqn_replay
__pycache__
slurm-*
*.sif
toy/result
atari/result
*/result_backup
*.txt
toy/model
# events.*
toy/logs
*.sh
*.sbatch
!run.sh
*.json
*.yml
!hyak_env.yml
*.def
!hyak.def
# !toy/backup/model/*.pth
# !toy/backup/result/*.txt