dqn_replay
__pycache__
slurm-*
*.sif
toy/result
toy/model
# events.*
toy/logs
# *.sh
*.sbatch
.vscode/
maze/result
maze/logs
maze/checkpoint
maze/wandb
*.out
atari/result
debug.py
test.py
*.dat
*.egg-info
dist/
build/
maze/log/
maze/logdir/
maze/cql_log
maze/mlp_log
maze/rcsl-mlp_log
!**/backup/**
# !toy/backup/model/*.pth
# !toy/backup/result/*.txt